<div class="pagination-container">
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="onSearchChange()"
      placeholder="Search stories"
      class="search-input"
    />
  </div>

  <pagination-controls
    (pageChange)="onPageChange($event)"
    [responsive]="true"
    [previousLabel]="'Previous'"
    [nextLabel]="'Next'"
    [screenReaderPaginationLabel]="'Pagination'"
    [screenReaderPageLabel]="'page'"
  ></pagination-controls>
</div>
